@import "tailwindcss";

@theme {
  --color-background-primary: #0d1117;
  --color-background-secondary: #010409;

  --color-method-get: #705ee2;
  --color-method-post: #83d13a;
  --color-method-put: #dd7747;
  --color-method-patch: #ddcd38;
  --color-method-delete: #b33d25;
}

body {
  background-color: var(--color-background-primary);
  color: #ffffff;
}

@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
